.advantages {
    padding: 70px 15px;
    &__subtitle {
        margin: 20px 0 35px 0;
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 1.1;
        text-align: center;
        text-transform: uppercase;    
    }
    &__descr {
        text-align: center;
        line-height: 1.6;
    }
    &__wrapper {
        margin: 35px auto;
        .advantage {
            margin-bottom: 20px;
            &__photo {
                width: 100%;
            }
            &__title {
                text-align: left;
                margin-bottom: 20px;
            }
            &__descr {
                line-height: 1.6;
                font-size: 1rem;
            }
        }
    }
}